/* Gallery */
.gallery { 
	position: relative; 
	width: 700px; height: 306px; 
	margin: auto; 
	overflow: hidden; 
	list-style: none;
}
.gallery img { 
	display: block; 
	float: left; 
}
.gallery ul {
	list-style: none;
	margin:0px;
	padding:0px;
}
.gallery ul li.each { 
	position: relative; 
	float: left;
	transition: all .8s; 
}
.gallery ul li.each, .gallery ul li.each img { 
	height: 0px; 
}
.gallery ul li.each img { 
	opacity: 0.5; 
	transition: all .4s; 
}
.gallery ul li.each.active, .gallery ul li.each.active img { 
	height: 306px; 
}
.gallery ul li.each.active img { 
	opacity: 1; 
}

.gallery .direction span{
	cursor:pointer;
	color:#ed2024;
}

.gallery .direction span.previous{
	position:absolute;
	top:45%;
	left:15px;
}

.gallery .direction span.next{
	position:absolute;
	top:45%;
	right:15px;
}
